<h1 mat-dialog-title fxLayoutAlign="space-between center"><span>Add Exercise</span> <span
    class="color-primary font-size-16">{{data.day}}</span></h1>

<div mat-dialog-content class="mb-10">
  <form [formGroup]="addTrainingForm" fxLayout="column">
    <mat-form-field>
      <mat-label>Select muscle group</mat-label>
      <mat-select formControlName="muscleGroup">
        <mat-option *ngFor="let muscleGroup of muscleGroups" [value]="muscleGroup">{{muscleGroup}}</mat-option>
      </mat-select>
      <mat-error>This field is required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Select workout</mat-label>
      <mat-select formControlName="workout" required [disabled]="isWorkoutDisabled()">
        <mat-option *ngFor="let workout of workouts" [value]="workout.Name">
          {{workout.Name}}
        </mat-option>
      </mat-select>
      <mat-error>This field is required</mat-error>
    </mat-form-field>
    <div *ngIf="workoutSelected()" fxLayout="column">
      <mat-form-field>
        <mat-label>Number of sets</mat-label>
        <input type="number" matInput formControlName="sets">
        <mat-error>This field is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Set Duration</mat-label>
        <input type="number" matInput formControlName="setDuration">
        <mat-error>This field is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Interval time</mat-label>
        <input type="number" matInput formControlName="break">
        <mat-error>This field is required</mat-error>
      </mat-form-field>
    </div>

  </form>

</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="warn" cdkFocusInitial [disabled]="!addTrainingForm.valid" (click)="addExercise()">
    <mat-icon>add</mat-icon> Add
  </button>
</div>