<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
    <button fxHide.gt-xs mat-icon-button class="example-icon" aria-label="Toggle sidenav button"
      (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <a class="app-title" routerLink="/">
      <span>Gym Bro
      </span>
    </a>
  </div>

  <ul class="toolbar-navigation-links" fxLayout fxLayoutAlign="end center" fxLayoutGap="5px" fxHide.xs>
    <li *ngIf="!loggedIn"><a routerLink="auth/signup" mat-button color="primary">Sign Up</a></li>
    <li *ngIf="!loggedIn"> <a routerLink="auth/login" mat-button color="primary">Login</a></li>
    <li *ngIf="loggedIn"><a routerLink="/training" mat-button color="primary">Training</a></li>
    <li *ngIf="loggedIn"><a (click)="logout()" mat-button color="primary">Logout</a></li>
  </ul>
</mat-toolbar>