<div class="container p-30" fxLayout="column" fxLayoutAlign="center start">
  <div class="w-100-p" fxLayout="row wrap" fxLayoutAlign="space-between center" *ngIf="!(isLoading$ | async)">
    <div>
      <h1>{{ hasPriorSchedule ? 'Edit Your Schedule' : 'Create Your Schedule'}}</h1>
      <mat-hint class="mb-10">Drag and drop to change exercise order</mat-hint>
    </div>
    <button style="height: 36.6px" mat-raised-button color="primary" [disabled]="scheduleEditCounter <= 0"
      (click)="saveSchedule()" fxLayout="row" fxLayoutAlign="center center">
      <mat-spinner [diameter]="20" *ngIf="isSaving"></mat-spinner> <span *ngIf="!isSaving">Save</span>
    </button>
  </div>


  <mat-card class="w-100-p p-24" fxLayout="column" *ngIf="!(isLoading$ | async)">
    <div *ngFor="let day of weekDays; index as idx" class="day-border-bottom mb-40" fxFlex="100" fxLayout="row"
      fxLayout.lt-sm="column" fxLayoutAlign="start center" fxLayoutAlign.lt-sm="center start">
      <p fxFlex="20" fxFlex.lt-sm="100" class="day">{{day}}</p>
      <div fxFlex="80" fxFlex.lt-sm="100" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px">

        <mat-chip-list class="exercises-chip-list" cdkDropList cdkDropListOrientation="horizontal"
          (cdkDropListDropped)="drop($event, day)">
          <mat-chip *ngFor="let exercise of schedule[day]; index as exerciseIndex" class="exercise-chip" cdkDrag
            (removed)="removeExercise(day, exerciseIndex)">{{(exerciseIndex + 1) + '. '}}{{exercise.Name}}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
        </mat-chip-list>

        <button mat-icon-button color="primary" (click)="addExercise(day)">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </mat-card>

  <ngx-loading [show]="isLoading$ | async" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>

</div>