<div class="p-30" fxLayout="column" fxLayoutAlign="start center">
  <h1 class="mb-24">{{currentExercise.Name}}</h1>
  <mat-progress-spinner class="mb-5" color="primary" mode="determinate" [value]="progress" *ngIf="!intervalOngoing">
  </mat-progress-spinner>
  <mat-progress-spinner class="mb-5" color="warn" mode="determinate" [value]="intervalProgress" *ngIf="intervalOngoing">
  </mat-progress-spinner>
  <h1>{{!intervalOngoing ? progress : intervalProgress}}%</h1>
  <p *ngIf="!intervalOngoing">Sets completed: {{numberOfSetsCompleted}}/{{currentExercise.Sets}}</p>
  <p *ngIf="intervalOngoing">Take rest</p>
  <button mat-raised-button color="accent" (click)="stopTraining()">Stop</button>
</div>