<section class="container" fxLayout="row" fxLayoutAlign="center start">
  <form [formGroup]="signupForm" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px" class="mt-80">
    <mat-form-field>
      <mat-label>Enter email</mat-label>
      <input type="email" matInput formControlName="Email">
      <mat-error *ngIf="signupForm.controls.Email.hasError('required')">This field is required</mat-error>
      <mat-error *ngIf="signupForm.controls.Email.hasError('email')">Invalid email address</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enter password</mat-label>
      <input type="password" matInput formControlName="Password">
      <mat-hint>Should
        be at least 6 characters long.</mat-hint>
      <mat-error *ngIf="signupForm.controls.Password.hasError('required')">This field is required</mat-error>
      <mat-error *ngIf="signupForm.controls.Password.hasError('minlength')">Password is too short!</mat-error>
      <mat-error *ngIf="signupForm.controls.Password.hasError('maxlength')">Password too long!</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Birth date</mat-label>
      <input matInput [matDatepicker]="picker" placeholder="Enter birth date" [max]="maxDate" [min]="minDate"
        formControlName="BirthDate">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <div class="checkbox-container">
      <mat-checkbox formControlName="TermsAgreed">Agree to terms and conditions</mat-checkbox>
    </div>

    <mat-spinner *ngIf="isLoading" [diameter]="40"></mat-spinner>
    <button *ngIf="!isLoading" type="submit" mat-raised-button color="primary" (click)="signup()"
      [disabled]="signupForm.invalid">Submit</button>
  </form>
</section>