<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item routerLink="/signup" routerLinkActive="active-nav" (click)="sidenav.close()">
        <mat-icon class="sidenav-link-icon">person_add</mat-icon> <span class="sidenav-link-label">Signup</span>
      </a>
      <a mat-list-item routerLink="/login" routerLinkActive="active-nav" (click)="sidenav.close()">
        <mat-icon class="sidenav-link-icon">login</mat-icon> <span class="sidenav-link-label">Login</span>
      </a>
      <a mat-list-item routerLink="/training" routerLinkActive="active-nav" (click)="sidenav.close()">
        <mat-icon class="sidenav-link-icon">fitness_center</mat-icon> <span class="sidenav-link-label">Training</span>
      </a>
      <mat-list-item>
        <button mat-icon-button (click)="sidenav.close()">
          <mat-icon class="sidenav-link-icon">logout</mat-icon><span class="sidenav-link-label">Logout</span>
        </button>
      </mat-list-item>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
        <button fxHide.gt-xs mat-icon-button class="example-icon" aria-label="Toggle sidenav button"
          (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <a class="app-title" routerLink="/">
          <span>Gym Bro
          </span>
        </a>
      </div>

      <ul class="toolbar-navigation-links" fxLayout fxLayoutAlign="end center" fxLayoutGap="5px" fxHide.xs>
        <li><a routerLink="/signup" mat-button color="primary">Sign Up</a></li>
        <li> <a routerLink="/login" mat-button color="primary">Login</a></li>
        <li><a routerLink="/training" mat-button color="primary">Training</a></li>
      </ul>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>