<mat-nav-list>
  <a *ngIf="!loggedIn" mat-list-item routerLink="/signup" routerLinkActive="active-nav" (click)="onClickSidenavLink()">
    <mat-icon class="sidenav-link-icon">person_add</mat-icon> <span class="sidenav-link-label">Signup</span>
  </a>
  <a *ngIf="!loggedIn" mat-list-item routerLink="/login" routerLinkActive="active-nav" (click)="onClickSidenavLink()">
    <mat-icon class="sidenav-link-icon">login</mat-icon> <span class="sidenav-link-label">Login</span>
  </a>
  <a *ngIf="loggedIn" mat-list-item routerLink="/training" routerLinkActive="active-nav" (click)="onClickSidenavLink()">
    <mat-icon class="sidenav-link-icon">fitness_center</mat-icon> <span class="sidenav-link-label">Training</span>
  </a>

  <a *ngIf="loggedIn" mat-list-item routerLinkActive="active-nav" (click)="logout()">
    <mat-icon class="sidenav-link-icon">logout</mat-icon><span class="sidenav-link-label">Logout</span>
  </a>


</mat-nav-list>